* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/code.jpg);
    background-size: cover;
}

.container {
    height: 640px;
    margin: 50px auto 0;
    position: relative;
    width: 640px;
}

.container>input {
    display: none;
}

.slider {
    background-color: #333;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
}

.mem1 {
    background-image: url(assets/copy.jpg);
}

.mem2 {
    background-image: url(assets/lang.jpg);
}

.mem3 {
    background-image: url(assets/learn.jpg);
}

.mem4 {
    background-image: url(assets/split.jpg);
}

.container .control {
    position: absolute;
    margin-left: -50px;
    left: 40%;
}

.container label {
    cursor: pointer;
    display: inline-block;
    height: 38px;
    margin: 10px;
    position: relative;
    width: 38px;
    border-radius: 50%;
    border: 1px solid green;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.container label:after {

    content: " ";
    display: block;
    height: 58px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 58px;
    border-radius: 50%;
}

#slide1:checked~.control label:nth-of-type(1),
#slide2:checked~.control label:nth-of-type(2),
#slide3:checked~.control label:nth-of-type(3),
#slide4:checked~.control label:nth-of-type(4) {
    background: green;
}

#slide1:checked~.slider>.mem1,
#slide2:checked~.slider>.mem2,
#slide3:checked~.slider>.mem3,
#slide4:checked~.slider>.mem4 {
    opacity: 1;
    z-index: 1;
}

.container label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4) {
    background: yellow;
}

.slides {}

.slides {}

.text {
    position: fixed;
    padding: 5px;
    font-size: 40px;
    color: yellow;
    border: dashed 2px yellow;
    top: 75%;
    left: 3%;
}